@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kode+Mono:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Fira Sans;

}
.bonus-1{
    padding: 24px 160px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
nav h2 {
    font-size: 26px;
    font-weight: 700;

}
.sign-in {
    border: none;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15PX 30PX;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 106, 80);;
}
/* banner design */

.title{
    font-size: 21px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    text-align: ledt;
    margin-bottom: 16px;
}
.description{
    font-size: 46px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 24px;

}
.explore-btn{
    font-size: 15px;
    font-weight: 600;
    padding: 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: antiquewhite;
    border: none;
    
}

.banner-flag{
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px;
}

/* part 2 */

.vision-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 24px;
}
.vision-description{
    font-size: 14px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 32px;
}

.second-task{
    margin: 0px 160px;
}

.main-topic{
    font-size: 17px;
    font-weight: 700;
}

.learn-btn{
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
    color: antiquewhite;
}
.digital-i{
    background: rgb(84, 144, 245);
}
.g-energy{
    background: rgb(9, 161, 92);

}
.modern-i{
    background: rgb(255, 194, 57);

}
.div-infodmation{
    display: flex;
    gap: 24px;
}
.di{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}


.green-i{
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
}


.mi{
    background: rgb(247, 235, 207);
    border-radius: 16px;
    padding: 24px;
}